.accordeon_title{
  font-family: 'Dancing Script', cursive;
}
.accordeon_contiener{
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  gap: 15px;
  
}
.accordeon{
  background-color: rgba(255, 255, 0, 0.802);
  color: rgba(255, 255, 0, 0.802);
  font-weight: bolder;
  cursor: pointer;
  padding: 20px;
  width: 60%;
  border: none;
  outline: none;
  font-size: 16px;
  transition: all 1s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(10px 8px 2px rgba(243, 243, 231, 0.946));

}
.active, .accordeon:hover{
  background-color: rgba(174, 0, 255, 0.41);
  transition: 1s;
  color: white;
  transition: all 1s ease-in-out;
}
.acc1{
  background-image: linear-gradient(to right, rgb(0 0 0 / .5), rgb(0 0 0 / .5)), url(../img/D-cover.jpg);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
} 
.acc2{
  background-image: linear-gradient(to right, rgb(0 0 0 / .5), rgb(0 0 0 / .5)), url(../img/P-cover.jpg);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
} 
.acc3{
  background-image: linear-gradient(to right, rgb(0 0 0 / .5), rgb(0 0 0 / .5)), url(../img/M-cover.jpg);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
} 
.panel {
  padding: 0px 20px;
  display: none;
  background-color: rgba(151, 83, 163, 0.717);
  overflow: hidden;
  transition: all 1s ease-in-out;
  width: 100%;
}
.grid_img{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  align-self: center;
  align-items: center;
}
.grid_pic{
  display: flex;
  justify-content: center;
  padding: 15px 0px;
}
.grid_pic img{
  width: 100%;
  height: 300px;
}
.contenedor_numero{
  position:relative;
 
}
.numero{
  text-transform: uppercase;
  font-size: xx-small;
  font-weight: 900;
  background-color: rgba(174, 0, 255, 0.859);
  color: yellow;
  position:absolute;
  right: 0;
  z-index: 1;
  border-radius: 50px;
  padding: 15px;
}

@media (max-width: 768px) {
  .grid_img{
  grid-template-columns: repeat(1, 1fr);
   
 } 
 }