/* * {
    margin: 0;
    box-sizing: border-box;
  } */
  
  body {
    font-family: sans-serif;
    padding: 90px 20px 0;
  }
  .bg_img{
    background-image: url(/img/banner_confeti.jpg);
  /*   background-repeat: no-repeat; */
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    

  }
  .banner {
    width: 100%;
   /*  height: 100%; */
    display: flex;
    flex-direction: column;
    height: 500px;
    z-index: -1;
   

  }

  .banner_title {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top: auto;
  }
  .formular_conteiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    inset: 0;
    margin: auto;
    width: 100%;
    height: 100px;
 /*    filter: drop-shadow(0 0 2px red); */

  }
  .contenedor_card{
    z-index: -1;
  }