.secction_slider{
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
}
.conteiner-slider {
    display: inline-block;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    filter: drop-shadow(10px 8px 2px rgba(255, 0, 217, 0.848));
}
.conteiner-slider img {
    width: 400px;
    height: 400px;
}



